* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*********************************************************HOME PAGE********************************************************/
.head {
    display: flex;
    justify-content: space-around;
}